.collection-list .card .icon-wrap {
  background: #000000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  border-radius: 50%;
}
.collection-list .card .icon-wrap svg{
  color: #ffffff;
  transform: translateX(-80%);
  transition: all ease-in-out 0.3s;
}
.sub-title{
  color: #6E6E6E;
}
.collection-list .card__content{
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: fit-content;
  height: calc(100% - 20px - 20px);
}
.collection-list .card .full-unstyled-link{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-body-family);
}
.collection-list .card{
  position: relative;
}
.collection-list .card__heading{
  height: 100%;
}
.collection-list .card__information{
  padding-top: 0;
  padding-block: 0;
}
.collection-list .card-wrapper:hover  .card .icon-wrap svg{
  transform: translateX(96%);
}
.collection-list .card-wrapper::before{
  content: '';
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--collection-card-corner-radius);
  z-index: 1;
}
.collection-list-wrapper .title-btn-block{
  display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.collection-list-wrapper .card__media::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 32, 0.2);
}